#header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 1440px;
    margin-bottom: 28px;
    margin-right: 20px;
}

#menu-header {

    display: flex;
    justify-content: flex-end;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    list-style: none;

}

/*logo*/

.logo {
    width: 216px;
    height: 14px;
    margin-top: 31px;
    margin-left: 146px;
    display: flex;
}



ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

/*menu de navigation du header*/

#menu-item-56 {

    margin-right: 50px;
    width: 69px;
    height: 24px;
    top: 28px;
    left: 990px;
    gap: 0px;
    opacity: 0px;

}


#menu-item-51 {
    margin-right: 50px;
    width: 69px;
    height: 24px;
    top: 28px;
    left: 990px;
    gap: 0px;
    opacity: 0px;
}


#menu-item-18 {
        {

        margin-right: 50px;
        width: 69px;
        height: 24px;
        top: 28px;
        left: 990px;
        gap: 0px;
        opacity: 0px;

    }
}

a {

    color: black !important;
    text-decoration: none !important;
    width: 216px;
    height: 1px;
    margin-top: 31px;
    display: flex;
    justify-content: end;
    margin-right: 95px;
}

.imagehero {

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

}

.hero-header_page-title {

    font-family: "Space Mono", monospace;
    font-size: 80px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-transform: uppercase;
    transition: font-size 0.2s;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


/*menu de navigation du footer*/

#footer {
    display: flex;
    list-style: none;
    width: 1440px;
    Height: 40px;
    justify-content: center;
}

.footer-menu-class {
    margin-right: 70px;
    height: 70px;

}

#menu-footer {

    display: flex;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    list-style: none;
    margin-right: 10px;
}

#menu-item-19,
#menu-item-82 {
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    height: 24px;

}

.droits-reserves {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    margin-top: 30px;
}


.modalphoto {
    width: 100%;
    margin: 20px 0;

}

.bg-background {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.modal-dialog {
    display: flex;
    justify-items: center;
    border: 5px solid black;
    background-color: white;
}

.wpcf7-form-control {
    width: 263px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wpcf7-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wpcf7-submit {
    height: 50px;
}

/**PAGE PHOTO**/

.images {
    width: 563px;
    float: right;
    display: flex;
    justify-content: flex-end;

}

#content {
    display: flex;
    padding-inline: 80px;
    flex-direction: column;
}



.titre {


    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 420px;
    height: 116px;
    font-family: monospace;
    padding-bottom: 20px;
    margin-bottom: 10px;

}


.format,
.type,
.categorie,
.reference,
.date,
.annee {

    font-family: Space Mono;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 20.73px;
    letter-spacing: 0.1em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}


.bouton {
    background-color: #D8D8D8;
    box-shadow: 0px 2px 1px 0px #00000005;
    display: flex;
    width: 232px;
    height: 40px;
    border-radius: 2px;
    transition: .3s ease-in-out;
    justify-content: center;
    font-family: Space Mono;
    align-items: center;
    font-weight: 400;
    line-height: 17.77px;
    letter-spacing: 0em;
    border: none;
    font-size: 12px;
    font-family: monospace;
    font-weight: 400;

}

.phrasebouton {
    display: flex;

}


.barre {
    width: 100%;
    margin-top: 10px;

}



hr {
    border: none;
    border-top: 1px solid black;
}


.image-container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}


.imagemariée {
    width: 564px;
    height: 495px;


}


h3 {

    width: 563px;
    height: auto;
    margin-right: -80px;

}


.petitephoto {
    width: 81px;
    height: 71px;


}

.fleche {
    width: 25px;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes */
    gap: 10px;
    /* Espacement entre les éléments */
}

.photo-gallery img {
    width: 100%;
    /* Ajuste les images à la largeur de leur conteneur */
    height: auto;
    /* Garde les proportions */
    display: block;
    /* Évite les espaces blancs sous les images */
}

img {
    object-fit: cover;
}



.photo-item {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Proportion carrée */
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.photo-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Remplir l'espace tout en conservant les proportions */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.photo-item:hover .overlay {
    opacity: 1;
}

.icons {
    display: flex;
    gap: 15px;
}

.icons span {
    color: white;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icons span:hover {
    transform: scale(1.2);
}


#bouton-charger-plus {
    width: 272px;
    height: 50px;
    padding: 8px 15px 8px 15px;
    gap: 10px;
    border-radius: 2px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-top: 50px;
}


.filters-and-sort {
    margin-top: 50px;
    margin-bottom: 50Px;

}


.filters-and-sort label {
    width: 260px;
    border-radius: 8px 0px 0px 0px;
    border: 1.3px solid #B8BBC2
}


label {

    height: 42px;
    padding: 11px 18px 11px 18px;

}




/* Appliquer un style commun aux sélecteurs */
.custom-select {
    
    -webkit-appearance: none;
    /* Compatibilité WebKit */
    -moz-appearance: none;
    /* Compatibilité Mozilla */
    background-color: #fff;
    /* Couleur de fond */
    border: 1px solid #ccc;
    /* Bordure */
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 250px;
    /* Largeur maximale */
    box-sizing: border-box;
    background-image: url('http://mota-version-finale.local/wp-content/uploads/2024/11/down-arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
    cursor: pointer;
}

/* Ciblez les champs en cas de hover ou focus */
.custom-select:hover {
    border-color: #888;
}

.custom-select:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}




.pagesingle {
    display: flex;
    justify-content: space-between;
    padding: 5%;
}

.pagesingleend {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    flex-direction: column;
}

.blocgauche {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: flex-end;
}

.blocdroit {
    display: flex;
    width: 45%;
    justify-content: flex-end;
    flex-direction: column;

}

.bloccontact {
    display: flex;
    justify-content: space-between;
}

#bouton-charger-plus {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    /* Largeur du bouton */
    height: 50px;
    /* Hauteur du bouton */
    background-color: #D8D8D8;
    color: #000000;
    text-decoration: none;
    /* Supprime Décoration de texte */
    border-radius: 2px;
    font-weight: bold;
    transition: .3s ease-in-out;
    /* Transition de 0.3s - accélération/décélération */
    cursor: pointer;
    /* Curseur au survol */
    font-family: Space Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.77px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    /* Bordure du bouton */
    margin-top: 20px;
}

.trierpar {

margin-inline: 280px;

}